{% extends './base.html' %}
{% block content %}
    <h3>{{ user.username }} خوش آمدید!!!</h3>

    <hr>
    <h5 class="p-4">لیست چت روم ها</h5>

    <div class="d-flex flex-column">
      <div class="border border-20 p-3" style="overflow-y: scroll;height: 45vh;">
        <!-- <div class="row"></div> -->
        {% for room in chat_rooms %}
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h5 class="card-title">نام:‌ {{ room.room_name }}</h5>
                <div style="background-color: aliceblue;" class="p-3">
                  {% if room.last_message.message %}
                    <p class="card-text">{{ room.last_message.sender }} ==> {{ room.last_message.message }}</p>
                    <small>{{ room.last_message.get_created_at }}</small>
                  {% else %}
                      پیامی برای نمایش وجود ندارد.
                  {% endif %}
                
                </div>
              </div>
              <div class="col-3 text-center my-auto">
                <a href="{% url 'chat:room' room.room_slug %}" class="btn btn-primary align-middle">ورود به چت</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>        
    </div>

    <br><br>
    <hr>
    <h3>ایجاد گفتگوی جدید</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input class="btn btn-primary btn-sm col-12 mt-1" type="submit" name="" id="" value="ایجاد">
    </form>

    <div class="m-5"></div>

  
{% endblock %}
